@import "/css/reset.css";
@font-face {
    font-family: 'Gilam';
    src: url(../fonts/GilamRegular.woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Gilam';
    src: url(../fonts/GilamSemiBold.woff2);
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Gilam';
    src: url(../fonts/GilamBold.woff2);
    font-weight: 700;
    font-display: swap;
}

body {
    background-color: #171717;
}

.wrapper {
    font-family: 'Gilam', sans-serif;
    color: #fff;
}

.container {
    max-width: 1490px;
    margin: 0 auto;
    padding: 0 15px;
}

.title-h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 56%;
}

/* ================Header================= */

.header {
    padding-top: 37px;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    padding: 10px 25px;
    border: 1px solid #E4B564;
    color: #E4B564;
    font-size: 18px;
    font-weight: 400;
    line-height: 167%; 
    transition: all 0.3s;
}

.header__button:hover {
    border: 1px solid #e6a940;
    color: #e6a940;
}

/* ==================Main==================== */

/* ================Offers================= */
.offers {
    padding-top: 120px;
    margin-bottom: 161px;
}

.offers__title {
    margin-bottom: 41px;
}

.offers__description {
    max-width: 1182px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 41px;
}

.offers__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    gap: 30px;
}

.offers__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    text-align: center;
}

.offers-1 {
    grid-column: span 2;
    background-color: #634F2C;
}

.offers-2 {
    grid-column: span 2;
    background-color: #B4A385;
}

.offers-3 {
    grid-column: span 2;
    background-color: #E4B564;
}

.offers-4 {
    grid-column: span 3;
    background-color: #635A4A;
}

.offers-5 {
    grid-column: span 3;
    background-color: #B08C4D;
}

.offers__heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
}
/* ================/Offers================= */

/* ================Benefits=============== */
.benefits {
    margin-bottom: 191px;
}

.benefits__title {
    margin-bottom: 94px;
}

.benefits__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 255px 32px 100px 129px 250px 3px;
    gap: 26px 30px;

}

.benefits__item {
    padding-left: 52px;
    padding-top: 44px;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
}

.benefits__heading {
    max-width: 302px;
}

.benefits__heading span {
    text-transform: uppercase;
    font-weight: 700;
}

.benefits-1 {
    grid-row: 1 / 3;
    background-color: #0E0E0E;
}

.benefits-2 {
    grid-row: 1 / 4;
    background-color: #242424;
}

.benefits-3 {
    background-color: #1F1F1F;
}

.benefits-4 {
    grid-row: 3 / 7;
    background-color: #1F1F1F;
    
}

.benefits-5 {
    grid-column: 2 / 3;
    grid-row: 4 / 6;
    background-color: #E4B564;
    color: #000;
}

.benefits-6 {
    grid-row: 2 / 5;
    background-color: #0E0E0E;
}

.benefits-7 {
    grid-row: 5 / 7;
    background-color: #0A0909;
    font-weight: 700;
}
/* ================/Benefits=============== */

/* ================Clients-Projects=============== */
.clients-projects {
    padding-top: 172px;
    margin-bottom: 238px;
    background-color: #0E0E0E;
}

.clients-projects__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
}

.clients-projects .header__button {
    padding: 10px 40px;
}

.clients-projects__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 391px 391px;
}

.clients-projects__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-projects-1 {
    background-color: #634F2C;
}

.clients-projects-2 {
    flex-direction: column;
    row-gap: 16px;
    background-color: rgba(232, 210, 171, 0.76);
}

.clients-projects-3 {
    background-color: #E4B564;
}

.clients-projects-4 {
    background-color: #635A4A;
}

.clients-projects-5 {
    background-color: #B08C4D;
}

.clients-projects-6 {
    background-color: #634F2C;
}

.clients-projects__description {
    max-width: 326px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.clients-projects__description span {
    font-weight: 400;
}
/* ================/Clients-Projects=============== */

